@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.typing::before,
.typing::after {
  content: "";
  border-right: 3px solid;
  opacity: 0;
  white-space: nowrap;
  width: fit-content;

}

.typing::before {
  animation: typingLeft 1.0s forwards, blink .5s step-end infinite alternate;
  animation-delay: 2s;
}

.typing::after {
  animation: typingRight 1.0s forwards, blink .5s step-end infinite alternate;
  animation-delay: 3.0s;
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes typingLeft {
  0% {
    content: "p";
    opacity: 1;
    text-decoration: underline;
  }

  10% {
    content: "ぷ";
  }

  20% {
    content: "ぷr";
  }

  30% {
    content: "ぷろ";
  }

  40% {
    content: "ぷろg";
  }

  50% {
    content: "ぷろぐ";
  }

  60% {
    content: "ぷろぐr";
  }

  70% {
    content: "ぷろぐら";
  }

  80% {
    content: "ぷろぐらm";
  }

  90% {
    content: "ぷろぐらむ";
    border-right: 3px solid;
    text-decoration: underline;
  }

  100% {
    content: "プログラム";
    opacity: 1;
    border-right: none;
    text-decoration: none;
  }
}

@keyframes typingRight {
  0% {
    content: "";
    opacity: 1;
    text-decoration: underline;
  }

  10% {
    content: "k";
  }

  20% {
    content: "け";
  }

  30% {
    content: "けn";
  }

  40% {
    content: "けんk";
  }

  50% {
    content: "けんky";
  }

  60% {
    content: "けんきゅ";
  }

  70% {
    content: "けんきゅう";
  }

  80% {
    content: "けんきゅうb";
  }

  90% {
    content: "けんきゅうぶ";
    border-right: 3px solid;
    text-decoration: underline;
  }

  100% {
    content: "研究部";
    opacity: 1;
    /* border-right: none; */
    text-decoration: none;
  }

}

.typing-study-group::before,
.typing-study-group::after {
  content: "";
  border-right: 3px solid;
  opacity: 0;
  white-space: nowrap;
  width: fit-content;

}

.typing-study-group::before {
  animation: typing-study-group-left 1.0s forwards, blink .5s step-end infinite alternate;
  animation-delay: 2s;
}

.typing-study-group::after {
  animation: typing-study-group-right 1.0s forwards, blink .5s step-end infinite alternate;
  animation-delay: 3.0s;
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes typing-study-group-left {
  0% {
    content: "b";
    opacity: 1;
    text-decoration: underline;
  }

  10% {
    content: "べ";
  }

  20% {
    content: "べn";
  }

  30% {
    content: "べんk";
  }

  40% {
    content: "べんky";
  }

  50% {
    content: "べんきょ";
  }

  60% {
    content: "べんきょう";
  }

  70% {
    content: "べんきょうk";
  }

  80% {
    content: "べんきょうか";
  }

  90% {
    content: "べんきょうかい";
    border-right: 3px solid;
    text-decoration: underline;
  }

  100% {
    content: "勉強会";
    opacity: 1;
    text-decoration: none;
  }
}

.an1-fadein {
  opacity: 0;
  font-weight: bold;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.an2-fadein {
  opacity: 0;
  font-weight: bold;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.an1-fadeup {
  font-weight: bold;
  animation-name: fadeup;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeup {
  from {
    width: 0%;
  }

  to {
    width: 70%;
  }
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  transition: 0.3s;
}

.menu-btn span:before {
  bottom: 8px;
  transition: 0.3s;
}

.menu-btn span:after {
  top: 8px;
  transition: 0.3s;
}

/* ハンバーガーメニュー描画処理 */
#menu-btn-check:checked~.menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

#menu-btn-check:checked~.menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
  transition: 0.3s;
}

#menu-btn-check:checked~.menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
  transition: 0.3s;
}

#menu-btn-check {
  display: none;
}

.menu-content {
  transition: all 0.5s;
}

.menu-content ul {
  transform: translateX(100%);
  transition: 0.3s;
}

#menu-btn-check:checked~.menu-content>ul {
  /*メニューを画面内へ*/
  transform: translateX(0);
}